<h1>Note Form - Add New Note</h1>
<div>
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      placeholder="Enter Todo Title"
      formControlName="title"
    />
    <br />
    <label for="content">Content</label>
    <input
      type="text"
      name="content"
      placeholder="Enter Todo Content"
      formControlName="content"
    />
    <br />
    <button type="submit">{{ isEdit ? "Edit Note" : "Add New Note" }}</button>
  </form>
</div>
